[Unit]
Description=PgBouncer connection pooler for tushar.photo
Documentation=https://www.pgbouncer.org/
After=network-online.target
Wants=network-online.target

[Service]
Type=notify
User=pgbouncer
Group=pgbouncer

ExecStart=/usr/bin/pgbouncer /etc/pgbouncer/pgbouncer.ini
ExecReload=/bin/kill -HUP $MAINPID

RuntimeDirectory=pgbouncer
RuntimeDirectoryMode=0755

Restart=always
RestartSec=5

LimitNOFILE=8192

NoNewPrivileges=true
PrivateTmp=true
ProtectSystem=full
ProtectHome=true

[Install]
WantedBy=multi-user.target
